@model IEnumerable<EntityModel.DomainModel.ProvinceMaster>

@{
    ViewBag.Title = "Browse Rental Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="browse-all-province ">
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-item active"><span> Browse Rental Locations</span> </div>
        </div>
    </div>
    <section class="secton-province commenview_province_city">
        <div class="container">
            <div class="card">
                <div class="card-header"> Provinces and Territories </div>
                <div class="card-body">
                  <ul class="ullisting">
                        
                        @foreach (var item in Model)
                        {     
                                <li class="lilist state">
                                  <div class="liinner"><span class="spanlink" id="sId-@item.Id">@Html.DisplayFor(modelItem => item.Name)</span> <icon>»</icon></div>
                               </li>
                               <script>
                                    $("#sId-@item.Id").click(function () {
                                        var ProvinceName = $("#sId-@item.Id").html();
                                        $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("getallcitybyprovinceid", "region")",
                                            data: { 'ProvinceId': @item.Id },
                                            success: function (data) {
                                                if (data !== undefined) {
                                                    $(".browse-all-province").replaceWith(data);
                                                    $(".browse-all-cities .province-name").html(ProvinceName);
                                                    //document.title = "Browse " + ProvinceName;
                                                }
                                                else {
                                                    alert("Something went wrong! Please try again some time...")
                                                }
                                            },
                                            error: function (result) {
                                                alert('error');
                                            }
                                        });
                                    });
                                </script>
                           }
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="latestproduct_sliderprn">
    <div class="container">
        @Html.Action("get-latest-properties", "Property")
    </div>
</section>