
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-page passrecoverypg">
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-item active"> Forgot Password </div>
        </div>
    </div>
    <div class="container">
        <div class="errprn">
            <div class="password-reset-status"></div>
        </div>
        <div class="loginframe">
            <div class="forgot_password">
                <div class="frm_header"> Forgot Password</div>
                <div class="innerframe">
                    <p class="dec">We just need your registered email address to send you new auto generated password.</p>
                    <div class="formdiv">
                        <div class="form-group">
                            @Html.Label("Email", new { @class = "frmlbl" })
                            <input type="text" class="form-control" id="txtEmailAddress" placeholder="Enter Your Email" />
                            <span class="fp-email-error" style="color:red;"></span>
                        </div>
                        <div class="form-group btnprn">
                            <button id="reset" type="button" class="btn btn-twoblue"> <i class="iicon basement-renting-key"></i> Reset Password </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.top-footer').addClass('border');
        $("#reset").click(function () {
            $("#txtEmailAddress").css("border-color", "");
            $(".fp-email-error").hide();

            if ($("#txtEmailAddress").val() === "") {
                $("#txtEmailAddress").css("border-color", "red");
            }
            else {
                if (validateEmailId($("#txtEmailAddress").val()) == true) {
                    $('#reset').attr('disabled', true);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("passwordrecovery", "customer")',
                        data: { 'emailId': $("#txtEmailAddress").val() },
                        success: function (data) {
                            if (data == true) {
                                $(".password-reset-status").html("Password recovery mail has been sent to your email.");

                                $(".password-reset-status").removeClass('error01').addClass('succes01');
                                $(".password-reset-status").show();
                            }
                            else {
                                $(".password-reset-status").html("Something went wrong! Please try again after sometime..!");

                                $(".password-reset-status").removeClass('succes01').addClass('error01');
                                $(".password-reset-status").show();
                            }

                            $('#reset').attr('disabled', false);
                        },
                        error: function (result) {
                            console.log("Error Occurred..!");
                        }
                    });
                }
                else {
                    $("#txtEmailAddress").css("border-color", "red");
                    $(".fp-email-error").html("Please enter valid email.");
                    $(".fp-email-error").show();
                }
            }
        }); //end of button click

    });//end of doc. ready

    function validateEmailId(emailId) {
        var x = emailId; //$("#txtEmailAddress").val();
        var atpos = x.indexOf("@@");
        var dotpos = x.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
            //alert("Invalid E-mail address");
            return false;
        }
        else {
            return true;
        }
    }
</script>