@{
    //ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="termsandcondition_pg">
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-item active">Terms And Conditions</div>
    </div>
</div>
<section class="secton_middle_containt">
<div class="container">
    <div class="terms-and-condition-content">
        @if (ViewBag.TermsAndConditionsContent != null)
    {
            <div>@Html.Raw(ViewBag.TermsAndConditionsContent)</div>
        }
    </div>
</div>
</section>
</div>
<script>
    $(document).ready(function () {
        $('.top-footer').addClass('border');
    }); //end of doc. ready
</script>