@model EntityModel.DomainModel.ContentManagement

@{
    ViewBag.Title = "Content Management";
}

@*<script src="~/Content/ckeditor_full/ckeditor.js"></script>*@
<script src="~/Content/ckeditor_standard/ckeditor.js"></script>


@{
    string action = ViewContext.RouteData.Values["action"].ToString();
    //string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var SubmitActionName = "";

    if (action == "homepage-cms")
    {
        SubmitActionName = "update-homepage-content";
        <script>
            $(function () {
                $('.card-header').html(' Content Management <small> ( Welcome To Basement Renting ) </small>');
                $('.li_managehomepagecontent').addClass('current');
            });
        </script>
    }
    else if (action == "terms-conditions")
    {
        SubmitActionName = "update-termsandconditions";
        <script>
            $(function () {
                $('.card-header').html(' Content Management <small> (  Terms & Conditions ) </small>');
                $('.li_managetermsconditons').addClass('current');
            });
        </script>
    }
}

<div class="content-management-page">
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-item active">Content Management</div>
        </div>
    </div>

    <section class="secton_middle_containt">
        <div class="container">
            <div class="row">
                <div class="myaccount_sidebar">
                    @Html.Partial("_MyProfileMenu")
                </div>
                <div class="myaccount_containt">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">

                            @using (Html.BeginForm(SubmitActionName, "admin", FormMethod.Post, new { id = "cmsForm" }))
                            {
                                @Html.HiddenFor(m => m.Id, new { @id = "cmsId", @name = "cmsId" })
                                @Html.HiddenFor(m => m.Name, new { @id = "cmsName", @name = "cmsName" })

                                @*@Html.TextArea("CkEditorContent", new { @id = "CkEditorContent", @name = "CkEditorContent" })*@
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Value, new { @id = "cmsValue", @name = "cmsValue" })
                                </div>
                                <script>
                                    //CKEDITOR.replace("cmsValue");

                                    CKEDITOR.replace('cmsValue', {
                                        extraPlugins: 'autogrow',
                                        //autoGrow_maxHeight: 800,

                                        // Remove the Resize plugin as it does not make sense to use it in conjunction with the AutoGrow plugin.
                                        removePlugins: 'resize'
                                    });
                                </script>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-twoblue" id="SubmitEditorData">Save Changes </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(function () {
        $('.top-footer').addClass('border');
        if ($('.myaccount_sidebar ul').length) {
            $('.myaccount_sidebar').addClass('col-lg-3');
            $('.myaccount_containt').addClass('col-lg-9');
        }
        else { $('.myaccount_containt').addClass('col-lg-12'); }
    });

</script>


